@import url("./variaveis.css");
@import url("./fontes.css");
@import url("./normalizar.css");


body {
    font-family: var(--font-principal);
    font-weight: var(--regular);
  }
  ::selection {
    background-color: var(--cor-azul-escuro); /* Cor do fundo da seleção */
    color: var(--cor-branco); /* Cor do texto dentro da seleção */
  }
  
  ::-moz-selection { /* Para compatibilidade com Firefox */
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
  }